<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Mobile SHOP - Admin Login</title>
    <link rel="stylesheet" href="/css/login.css"/>
</head>
<body>
<div class="login-container">
    <div class="logo">
        <h1>Mobile <span class="shop-text">SHOP</span></h1>
    </div>

    <p class="subtitle">Please sign in</p>


    <form th:action="@{/admin/login}" method="post">
        <div class="form-group">
            <input
                    type="text"
                    class="form-input"
                    name="username"
                    placeholder="Please enter your username ..."
            />
        </div>

        <div class="form-group">
            <input
                    type="password"
                    class="form-input"
                    name="password"
                    placeholder="Please enter your password ..."
            />
        </div>
        <!-- Thêm thông báo lỗi -->
        <div style="color: red; margin-bottom: 20px" th:if="${error}" class="error-message" th:text="${error}"></div>

        <div class="form-options">
            <label class="remember-me">
                <input type="checkbox" name="remember"/>
                Remember me
            </label>
            <span
            >Don't have an account,
            <a href="#" class="register-link">click here!</a></span
            >
        </div>

        <button type="submit" class="login-btn">Sign In</button>
    </form>

    <div class="footer">© 2025 - Rikkei Education</div>
</div>
</body>
</html>
